:root {
	--backgroundColor: #000000;
	--textColor: #1700ff;
}

@font-face {
	font-family: "Playfair";
	font-path: "./../fonts/PlayfairDisplay-Regular";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pacifico";
	font-path: "./../fonts/Pacifico";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PassionOne";
	font-path: "./../fonts/PassionOne-Bold";
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "BoutiqueScript";
	font-path: "./../fonts/BoutiqueScript";
	font-weight: 100;
	font-style: normal;
}

@import-normalize;

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--backgroundColor);
	overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--textColor);
	transition: background-color 5000s ease-in-out 0s;
}
::-webkit-scrollbar {
	width: 0;
}

@keyframes glow {
	from {
		border-color: var(--inputBorderColorFrom);
	}
	to {
		border-color: var(--inputBorderColorTo);
	}
}
@keyframes outerMotion {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes innerMotion {
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes areaMotion {
	50% {
		transform: translate(5%, 5%);
	}

	100% {
		transform: translate(-5%, 5%);
	}
}

@keyframes miniUnfold {
	to {
		height: 55px;
	}
}

@keyframes unfold {
	to {
		height: calc(100vh - 150px);
	}
}
