@font-face {
	font-family: "Druchilla";
	font-path: "./../fonts/Druchilla";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Playfair";
	font-path: "./../fonts/PlayfairDisplay-Regular";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairItalic";
	font-path: "./../fonts/PlayfairDisplay-Italic";
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "PlayfairBlack";
	font-path: "./../fonts/PlayfairDisplay-Black";
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairBlackItalic";
	font-path: "./../fonts/PlayfairDisplay-BlackItalic";
	font-weight: bolder;
	font-style: italic;
}

@font-face {
	font-family: "PlayfairBlack";
	font-path: "./../fonts/PlayfairDisplay-Black";
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairBoldItalic";
	font-path: "./../fonts/PlayfairDisplay-BoldItalic";
	font-weight: bold;
	font-style: italic;
}

@import-normalize;

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}
