@font-face {
	font-family: "Playfair";
	font-path: "./../fonts/PlayfairDisplay-Regular";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pacifico";
	font-path: "./../fonts/Pacifico";
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PassionOne";
	font-path: "./../fonts/PassionOne-Bold";
	font-weight: bold;
	font-style: normal;
}

@import-normalize;

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	background-color: black;
}
